/* Variables */

$gray_dark: #4d4d4d;
$blue: #5bb7db;
$blue_darker: #1976D2;
$blue_md: #2196F3;
$blue_dark: #1565C0;
$blue_light: #64B5F6;
$green: #60b044;
$teal_light: #80CBC4;
$red: #ff0000;
$beige: #dcb;
$beige2: #D7CCC8;
$soft_white: #EFEBE9;
$indigo: #3F51B5;

/* Styles */

// GLOBAL

// Set rem base size
html {
  font-size: 16px;
}

body {
  margin: 0;
//  overflow: hidden;
}

#full-page {
  display: flex;
  flex-direction: column;
  z-index: -1;
  font-family: Roboto, Noto, 'Hiragino Sans', Ubuntu, sans-serif;
  line-height: 1.2rem;
  color: $gray_dark;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

#bg-top {
  position: fixed;
  height: 300px;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  background-color: $blue_md;
}

#bg-bottom {
  position: fixed;
  z-index: -3;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $blue_light;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $blue_dark;
}

h1 {
  margin-left: 2.6rem;
  margin-bottom: 3rem;
}

h1, h2 {
  line-height: 2rem;
  font-family: 'Roboto Bold', Noro, 'Helvetica Neue', Ubuntu, sans-serif;
  font-weight: 600;
}

// Navigation

nav {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: $blue_md;
}

ul#nav-list {
  width: 800px;
  margin: 0 auto;
  display: flex;
  li {
    margin: 0;
    a {
      display: inline-block;
      padding: 20px;
      font-size: 15px;
      line-height: 30px;
      vertical-align: baseline;
      color: $gray_dark;
      &:hover {
        background: darken($blue_md, 8);
      }
      &.active {
        color: #222;
        font-weight: 500;
        box-shadow: 0 -3px 0 0 $blue_dark inset;
      }
    }
  }
}

// Each page container
main {
  position: absolute;
  top: 88px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
}

@media screen and (max-width: 800px) {
  main {
    width: 100vw;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}

// Loading Dots

div.three-bounce {
  margin-top: 28vh;
  text-align: center;
}

/* Course List Components */

// Results header

div.results-header {
  background-color: $blue_md;
  height: 144px;
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  padding: 0 20px;
  z-index: 2;
  .container {
    width: 800px;
    margin: 0 auto;
  }
  & > h1 {
    position: relative;
    top: 8px;
  }
}

@media screen and (max-width: 800px) {
  div.results-header {
    padding: 0;
    margin-left: 0;
  }
  div.results-header .container {
    width: 100%;
  }
}

// Search Bar

.search-form {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 14px;
  margin-bottom: 10px;
  display: flex;
  input[type=text] {
    padding: 0.4rem 0.6rem;
    flex: 6 0 0;
    font-size: 20px;
  }
  button[type=submit] {
    flex: 1 0 0;
    font-size: 20px;
  }
}

// count

div#result-count {
  position: absolute;
  bottom: 0;
}

// Paginated buttons

div.pagination {
  position: absolute;
  top: 74px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $soft_white;
    border: 0;
    &:not([disabled]):hover {
      background-color: darken($soft_white, 6);
    }
    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &:first-child i {
      position: relative;
      left: -2px;
    }
    &:last-child i {
      position: relative;
      left: 2px;
    }
  }
}

// Course Lists

 ul.course-results-list {
   position: absolute;
   top: 117px;
   left: 0;
   right: 0;
 }

ul.course-results-list li {
  position: relative;
  background: $soft_white;
  padding: 1.1rem 2.6rem;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
  line-height: 21px;
  border-bottom: 1px solid #ccc;
  transition: color 0.2s;
  a {
    color: $gray_dark;
    font-size: 1.05rem;
    font-family: 'Helvetica Neue', Ubuntu, Helvetica, sans-serif;
    font-weight: 600;
  }
  i {
    font-size: 22px;
    position: absolute;
    left: 14px;
    top: 20px;
    transition: all 0.2s;
    &.fa-bookmark-o {
      color: rgba(60,60,60,0.2);
    }
    &.fa-bookmark {
      color: rgba(60,60,60,0.8);
    }
    &:hover {
      top: 18px;
      text-shadow: 0 1px 3px rgba(0,0,0,0.3)
    }
  }
  &:hover i {
    color: rgba(64,64,64,0.8);
  }
}

// Course List Item animations
/*
.fade-up-enter {
  opacity: 0.01;
}

.fade-up-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-up-leave {
  opacity: 1;
}

.fade-up-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
*/
// HOME Page

main#home-page {
  text-align: center;
  h1#site-title {
    position: relative;
    top: 24px;
    margin-left: 0;
    font-weight: 700;
    font-family: 'Gill Sans';
  }
  h2#tagline {
    position: relative;
    top: -18px;
    color: $teal_light;
  }
  .search-form {
    top: 3px;
  }
  h3#browse-link {
    position: relative;
    top: 14px;
  }
}

// CATEGORY LIST Page

main#categories-page {
  h1 {
    position: relative;
    top: 1.8rem;
  }
  ul.category-list {
    position: absolute;
    min-height: 30vh;
    top: 114px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
    li {
      position: relative;
      background: #d1dbd1;
      padding: 0;
      box-shadow: 0 1px rgba(100,100,100,0.3) inset;
      a {
        color: $gray_dark;
        min-height: 65px;
        display: block;
        display: flex;
        margin: 0;
        padding: 0.5em 3em 0.5em 2.4em;
        justify-content: space-between;
        align-items: center;
        &:hover {
          background: #c1cbc1;
          span.category-name {
            font-weight: 500;
          }
          div.subcategories {
            color: #222;
          }
        }
        & > span {
          flex-grow: 1;
          margin: auto 10px;
        }
        span.category-name {
          line-height: 1.4em;
          font-size: 1.1rem;
        }
        div.subcategories {
          color: inherit;
          padding: 0;
          width: 50%;
          line-height: 1.2rem;
          font-size: 0.8rem;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}


// CATEGORY COURSES LIST Page


// SEARCH RESULTS PAGE


// COURSE DETAILS PAGE

main#course-details-page {
  top: 8rem;
  background: $soft_white;
  padding: 1.2rem 3.8rem;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.3);
  h2 {
    font-size: 1.65em;
    font-family: 'Roboto Bold', 'Helvetica Neue', Noro, Ubuntu, sans-serif;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 800;
    font-family: 'Roboto Bold', 'Helvetica Neue', Noro, Ubuntu, sans-serif;
  }
  i {
    color: rgba(64,64,64,0.8);
    position: absolute;
    transition: all 0.15s;
    &.fa-share-square {
      top: 2.9rem;
      right: 3.15rem;
      font-size: 26px;
    }
    &.fa-bookmark, &.fa-bookmark-o {
      top: 2.9rem;
      left: 1.35rem;
      font-size: 1.8rem;
    }
    &.fa-share-square:hover {
      top: 2.6rem;
      text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }
    &.fa-bookmark:hover, &.fa-bookmark-o:hover {
      top: 2.6rem;
      text-shadow: 0 1px 3px rgba(0,0,0,0.4);
    }
  }
  #course-details {
    font-family: 'Roboto', Noro, 'Helvetica Neue', Noro, Ubuntu, sans-serif;
    font-size: 0.9rem;
    line-height: 1.35em;
    span.course-detail-label {
      font-family: 'Roboto Bold', Noro, 'Helvetica Neue', Ubuntu, sans-serif;
      font-size: 0.9rem;
      font-weight: 700;
      margin-right: 6px;
    }
  }
}

// MY COURSES pageNum

main#saved-courses-page {
  p {
    position: absolute;
    top: 7rem;
    left: 1.4rem;
    z-index: 2;
  }
}


/*
.glyph-anchor {
  float: right;
  margin: 1.1rem 0 0 0.2rem;
  /*
  position: absolute;
  right: 3rem;
  top: 2.5rem;
  color: #444;
  display: inline-block;
}

.glyph-anchor:before {
  font-family: FontAwesome;
  content: "\f14c";
  vertical-align: middle;
  font-size: 23px;
}

.glyph-anchor:after {
  font-family: FontAwesome;
  content: "\f097";
  display: inline-block;
  margin-left: 22px;
  vertical-align: middle;
  font-size: 23px;
}
*/
